/*style for creativeproject1*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00001a;
  color: white;
  text-align: center;
}

.container {
  width: 100%;
}

.home {
  margin: auto;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
   /*background-image: radial-gradient(white, grey, black);*/

}

.home h2 {
  margin: auto;
  text-align: center;
  
}

.home p {
  display: block;
  /*border-radius: 50px;*/
  /*background-color: #e6f0ff;*/
    padding: 2%;
    text-indent: 30px;

}

.home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*padding-bottom: 10%;*/
}

.favGame h4 {
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
}

.description {
  margin: auto;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
  
}

.description img {
  /*margin: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.description p {
    display: block;
  /*background-color: #e6f0ff;*/
    padding: 2%;
    text-indent: 30px;

}

.descriptionBoard {
    margin: auto;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

.descriptionBoard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.descriptionBoard p {
    display: block;
  /*background-color: #e6f0ff;*/
  padding: 2%;
      text-indent: 30px;

}

.suggestion {
    margin: auto;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

/* Image Grid */
.portfolio {
    column-count: 3;
    column-gap: .5em;
    padding: 2%;
      margin-left: auto;
  margin-right: auto;
    padding-bottom: 10%;

}

.image img {
  background-color: #eee;
  display: inline-block;
  margin: .5em .5em .5em;
  width: 100%;

}

table {
  margin-left: 5%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
    border: 1px solid black;
  border-collapse: collapse;
  padding-bottom: 2%;
}

td {
    border: 1px solid black;
  border-collapse: collapse;
  padding-bottom: 50%;
  text-align: left;
}

button {
  margin: auto;
  text-align: center; 
  margin-left: 5%;
  margin-top: 2%;
  border: 2px solid black;
  /*background-color: grey;*/
  
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #00001a;
  color: white;
}